<?php

	require_once( LANG_UI_PATH . 'activate.php' );
?>

<?php
	if ($this->playerStatus == 0 - 1) {
	?>
		<h6>
		<?php echo LANGUI_ACTIVATE_T1; ?>
		</h6>
<p><b>	<?php echo LANGUI_ACTIVATE_T2; ?>
		</b></p>
<p class="f10 e b">
	<?php echo LANGUI_ACTIVATE_T3; ?>
		:</p>
<div class="f10">
	<li>
		<p>
			<?php echo LANGUI_ACTIVATE_T4; ?>
		</p>
	</li>
	<li>
		<p>
			<?php echo LANGUI_ACTIVATE_T5; ?>
		</p>
	</li>
	<li>
		<p>
			<?php echo LANGUI_ACTIVATE_T6; ?>
		</p>
	</li>
	<li>
		<p>
			<?php echo LANGUI_ACTIVATE_T7;?>
		</p>
	</li>
</div>
		<?php
		if (0 < $this->uid) { ?>
			<p>
				<b>
					<br>
					<br>
					<?php echo LANGUI_ACTIVATE_T8; ?>
				</b>
			</p>
<form action="activate.php?uid=<?php echo $this->uid;?>" method="post">
<table cellpadding="1" cellspacing="1">
	<tbody>
		<tr class="top">
			<th>
				<?php echo LANGUI_ACTIVATE_T9; ?>
			:</th>
			<td class="name">
				<?php echo $this->uname; ?>
			</td>
		</tr>
		<tr class="btm">
			<th>
				<?php echo LANGUI_ACTIVATE_T10; ?>
			</th>
			<td>
				<input class="text" type="password" name="pw" maxlength="20">
			</td>
		</tr>
	</tbody>
</table>
<p class="btn">
	<input type="image" src="assets/x.gif" class="dynamic_img " id="btn_delete" alt="<?php	echo LANGUI_ACTIVATE_T11;?>" value="<?php echo LANGUI_ACTIVATE_T11;?>" name="delreports">
</p>
</form>
			<?php
			return 1;
		}
	} 
else {
		if ($this->playerStatus == 3) { ?>
			<p class="info2">
				<?php	echo LANGUI_ACTIVATE_T12; ?>
			</p>
			<p>
				<a href="register.php"><?php echo LANGUI_ACTIVATE_T13; ?></a>
			</p>
			<?php

			return 1;
		}

		if ($this->playerStatus == 1) { ?>
			<p class="f9"><?php	echo LANGUI_ACTIVATE_T14; ?>.</p>
			<p class="f9"><?php	echo LANGUI_ACTIVATE_T15; ?>
				<a href="index.php"><?php echo LANGUI_ACTIVATE_T16; ?></a>
			</p>
<?php
			return 1;
		}


		if ($this->playerStatus == 2) { ?>

			<p class="f9">
				<?php echo LANGUI_ACTIVATE_T17; ?>
			</p>
			<?php
		}
	}




